* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-size: 10px;
}

button {
  text-decoration: none;
  background: #ffffff;
  padding: 10% 0;
  border: none;
  display: inline-block;
  transition: all 0.4s ease;
  /* width: 50%; */
  font-size: 2.5em;
  text-align: center;
  /*! margin: auto; */
  font-weight: 300;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 0 0 47%;

}

button:hover {
  color: #ffffff !important;
  background: #3bc1f6;
  border-color: #3bc1f6 !important;
}





/* Added when button clicked */

.color {
  color: red;
  font-size: 2.5em !important;
  background-color: white !important;
}



/*=======
Main Setup 
======     */

.TypeGrid-Setup {
  display: grid;
  grid-template-areas: "namebar namebar namebar" "sidebarL mainbar sidebarR ";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 10% 1fr;
  width: 100vw;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.name-bar {
  grid-area: namebar;
  border: solid;
  height: 100%;
  width: 100%;
  border-bottom: solid;
  display: grid;
  grid-template-columns: 90% auto;
  /*! justify-content: space-between; */
  /*! padding: 7px 0; */
}

.reset {
  height: 100%;
  padding: 10px;
  width: 100%;
  position: relative;
  right: 30px;
}

.Input-style {
  outline: none;
  border: none;
  border-left: solid;
  font-size: 40px;
  color: rgb(112, 141, 150);
  padding-left: 20px;
  text-transform: capitalize;
  font-family: "signika";
  margin: 0px;
}


.Grid {
  height: 71%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, 1fr);
  grid-area: mainbar;
  text-align: right;
  align-content: center;
  align-self: center;
  width: 100%;  
}
.section1,
.section2 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
}

.section2 {
  grid-area: sidebarR;
}
.section1 {
  grid-area: sidebarL;
}

/*=======
Type Grid Setup 
=======  */

.type {
  /*! position: relative; */
  display: flex;
  flex-flow: column nowrap;
  border: black solid 1px;
  color: black;
  height: 100%;
  justify-content: space-between;
  font-size: 17px;

}

.TypeName {
  padding: 8px;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  transition: ease-in-out all 0.4s;
  font-size: 2.3em;
}

.Type-Des {
  align-self: center;
  font-size: 1.4em;
  text-align: center;
  font-family: "signika";
  font-weight: inherit;
}

.Type-CF-container {
  display: flex;
  height: 22%;
}

.CF {
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  text-align: center;
  padding: 3px 4px;
  flex-grow: 1;
}

.CF h2 {
  font-size: 1.2em;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

.CF:first-child {
  background-color: rgb(0, 80, 2550);
}

.CF:nth-child(2) {
  background-color: rgb(0, 102, 255);
}

.CF:nth-child(3) {
  background-color: rgb(0, 130, 255);
}

.CF:nth-child(4) {
  background-color: rgb(0, 155, 255);
}

/* ==================
    Sidebar Setup
===================== */

.CF-section,
.Quadra-section,
.IS-section,
.Temp-section {
  display: flex;
  padding: 10px;
  align-items: center;
  flex-flow: row wrap;

  justify-content: center;
}

.CF-section {
  border-right: solid 2px;
  border-bottom: solid 2px;
}

.Quadra-section {
  border-right: solid 2px;
  border-top: solid 2px;
}

.IS-section {
  border-left: solid 2px;
  border-bottom: solid 2px;
}

.Temp-section {
  border-left: solid 2px;
  border-top: solid 2px;
}

.Footer {
  position: absolute;
  text-align: center;
  bottom: 64px;
  margin:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.5em;
}

span {
  text-decoration: underline;
  color: red;

}

@media only screen and (max-width: 1100px) {
  .TypeGrid-Setup {
    display: grid;
    grid-template-areas: "namebar namebar " " mainbar mainbar " " sidebarL  sidebarR";
    grid-template-rows: 50px auto auto;
    grid-template-columns: repeat(2, 1fr);
    overflow: visible;
    padding: 1% 3%;
}

  .Grid {
    height:100%;
  }
  .Input-style {
    font-size: 20px;
  }

  .btn-sec h2 {
    position: static;
    text-align: center;
    font-size: 1em;
  }
  button {
    padding: 5% 0;
    font-size: 1.5em;
  }

  .type {
    font-size: 10px;
  }

  .Footer {
    bottom: 0;
    font-size: 1em;
  }
}
