* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

button {
  color: #494949 !important;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: none;
  display: inline-block;
  transition: all 0.4s ease;
  height: 140px;
  width: 100%;
  font-size: 25px;
  text-align: center;
  margin: auto;
}

button:hover {
  color: #ffffff !important;
  background: #3bc1f6;
  border-color: #3bc1f6 !important;
}

/* Added when button clicked */

.color {
  color: red;
  font-size: 55px !important;
  background-color: white !important;
}

/*=======
  Main Setup 
  ======     */

.TypeGrid-Setup {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 10% 1fr;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.name-bar {
  grid-column: 1/4;
  border: solid;
  height: 100%;
  width: 100%;
  border-bottom: solid;
  display: grid;
  grid-template-columns: 90% auto;
  justify-content: space-between;
}
.reset {
  height: 100%;
  width: 100px;
  margin-right: 50px;
}

.Input-style {
  outline: none;
  border: none;
  border-left: solid;
  font-size: 40px;
  color: rgb(112, 141, 150);
  padding-left: 20px;
  text-transform: capitalize;
  font-family: "signika";
}

/*=======
  Grid Setup 
  ========   */

.Grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(195px, 1fr));
  grid-template-rows: repeat(4, minmax(195px, 1fr));
}

/*=======
  Type Grid Setup 
  =======  */

.type {
  position: relative;
  display: grid;
  border: black solid 1px;
  color: black;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
}

.TypeName {
  padding: 0;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  text-align: center;
  font-family: sans-serif;
  transition: ease-in-out all 0.4s;
}

.Type-Des {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "signika";
}

.Type-CF-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.CF {
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  text-align: center;
  padding: 5px;
}

.CF h2 {
  font-size: 25px;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

.CF:first-child {
  background-color: rgb(0, 80, 2550);
}

.CF:nth-child(2) {
  background-color: rgb(0, 102, 255);
}

.CF:nth-child(3) {
  background-color: rgb(0, 130, 255);
}

.CF:nth-child(4) {
  background-color: rgb(0, 155, 255);
}

/* ==================
    Sections Setup
===================== */

.section1,
.section2 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.CF-section,
.Quadra-section,
.IS-section,
.Temp-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  align-items: center;
}

.CF-section {
  border-right: solid 2px;
  border-bottom: solid 2px;
}

.Quadra-section {
  border-right: solid 2px;
  border-top: solid 2px;
}

.IS-section {
  border-left: solid 2px;
  border-bottom: solid 2px;
}

.Temp-section {
  border-left: solid 2px;
  border-top: solid 2px;
}
